#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #000000;
  color: #91beec;
  border-color: #be91ec;
}

.card {
  padding: 2em;
}

.option {
  color: #be91ec;
}